<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mr Review</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css" />
    <link rel='stylesheet' href='/stylesheets/slider.css' />
    <link rel='stylesheet' href='/stylesheets/indexStyle.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- OWL CSS -->
    <link rel='stylesheet' href='stylesheets/owl.carousel.css' />
    <link rel='stylesheet' href='stylesheets/owl.theme.green.css' />
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
     <!-- OWL CSS -->
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/indxScrpt.js"></script>

    
     
  </head>
  <body>
    <section id="header-nave">
      <nav class="navbar navbar-def navbar-fixed-top">
        <div class="container-fluid ">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            
            <a class="navbar-brand" href="../">
                    <img style="margin-top: -15px;" alt="brand" src="/images/logo/logo.png" width="150" height="50">
              </a>

              <ul class="nav navbar-nav navbar-right" style= " position: absolute; right: 20px;">

                <li style="float: left;" ><a href="/users/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
                <li style="float: left;"><a href="/users/reg"><i class="fa fa-user" aria-hidden="true"></i> Register</a></li>
              </ul>
            
          </div>
        </div><!-- /.container-fluid -->
      </nav>
    </section>
   
    <section id="owl-slider">

      <div  class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="owl-carousel owl-theme">
            <div class="item">
              <img  src="/images/slider/s2.jpeg" class="img-responsive" alt="Image">
              
                
            </div>

            <div class="item">
              <img  src="/images/slider/s3.png" class="img-responsive" alt="Image">
              
                
            </div>

            <div class="item">
              <img  src="/images/slider/s4.png" class="img-responsive" alt="Image">
              
                
            </div>
        
        
          </div>
        </div>
      </div>

    </section>

    <div id="Search" class="container-fluid" style="margin-top: 10vh; display: none;">
      
      <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Search Result 
              <span onclick="closeSearch()" style="float:right; background-color: red; color: yellow; padding: 3px; border-radius: 5px;">X</span>
            </h3>
          </div>
          <div class="panel-body">
            <div id="searchCont" style="width: 100%; height: 50vh; overflow-y: auto ;">
              <!-- <div style="margin-top: 20px;" class="row">
                <div style="margin-bottom: 10px;"  class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="#" class="thumbnail">
                      <img id="imgMainBox" src="/images/slider/s4.png" class="img-rounded" alt="Image">
                    </a>
                  </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <img onclick="chengeImg()" src="/images/slider/s4.png" style="width: 6vh; height: 6vh; border-radius: 10px; border: 1px solid #000;" class="img-rounded" alt="Image">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <img onclick="chengeImg()" src="/images/slider/s4.png" style="width: 6vh; height: 6vh; border-radius: 10px; border: 1px solid #000;" class="img-rounded" alt="Image">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <img onclick="chengeImg('')" src="/images/slider/s4.png" style="width: 6vh; height: 6vh; border-radius: 10px; border: 1px solid #000;" class="img-rounded" alt="Image">
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                      <img onclick="chengeImg('')" src="/images/slider/s4.png" style="width: 6vh; height: 6vh; border-radius: 10px; border: 1px solid #000;" class="img-rounded" alt="Image">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                  <ul class="list-group">
                    <li class="list-group-item" style="font-size: 18px; font-weight: bold; color: rgb(16, 26, 117);">
                        Name : 
                    </li>
                    <li class="list-group-item">
                        Type : <br><br>
                        <p>Address : </p>
                    </li>
                    <li class="list-group-item list-group-item-success" >
                      <span class="badge"></span>
                      Proprty rating * * *  
                  </li>
                  </ul>
                </div>
              </div> -->
            </div>
          </div>
      </div>
      

   
    </div>
    
    <div id="contain" class="container-fluid">
      <div style="margin-top: 70px;" class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          
          <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Property Search</h3>
              </div>
              <div class="panel-body">
                
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="thumbnail">
                    <div class="caption">
                      
                      
                        <div class="form-group">
                          <label for="">Post Code: *</label>
                          <input id="serchPostcode" type="text" class="form-control" id="exampleInputPassword1" style="text-transform:uppercase" placeholder="Area Postcode ie: E13 8QB">
                        </div>

                        <div class="form-group">
                          <label for="">Address Line: *</label>
                          <input id="addressline" type="text" class="form-control" id="exampleInputPassword1"  placeholder="Address : Canning St">
                        </div>

                        <!-- <div class="form-group">
                          <label for="">Property Type: *</label>
                          <select id="propertytype" class="form-control">
                            <option value="">Select Type</option>
                            <option value="House">House</option>
                            <option value="Vila">Vila</option>
                            <option value="Flat/Apertment">Flat/Apertment</option>
                          </select>
                        </div> -->

                        <div class="form-group">
                          <label for="">Landlord Name:</label>
                          <input id="landlordName" type="text" class="form-control" id=""  placeholder="Opsonal">
                        </div>
                        <button onclick="searchproperty()" type="button" class="btn btn-primary">Search Property</button>
                      
                      
                     
                    </div>
                  </div>
                </div>
                
              
                  
              </div>
          </div>
          
          
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Tenant Search</h3>
            </div>
            <div class="panel-body">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="thumbnail">
                  <div class="caption">
                    
                    
                      <div class="form-group">
                        <label for="">Post Code:</label>
                        <input id="tenantPostCode" type="text" class="form-control" id="exampleInputPassword1" style="text-transform:uppercase" placeholder="Area Postcode ie: E13 8QB">
                      </div>

                      <div class="form-group">
                        <label for="">Address Line: *</label>
                        <input id="addressline" type="text" class="form-control" id="exampleInputPassword1"  placeholder="Address : Canning St">
                      </div>

                      <!-- <div class="form-group">
                        <label for="">Tenant Type:</label>
                        <select id="tenanttytype" class="form-control">
                            <option value="new">New</option>
                            <option value="old">Old</option>
                        </select>
                      </div> -->

                      <div class="form-group">
                        <label for="">Tenant Name:</label>
                        <input id="tenantName" type="text" class="form-control" id=""  placeholder="Tenant Name  : Opsonal">
                      </div>
                      <button onclick="tenantSearch()" type="submit" class="btn btn-primary">Search Tenant</button>
                   
                    
                   
                  </div>
                </div>
              </div>

             

            </div>
        </div>
        </div>
      </div>

      
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h3 class="text-center">Why Mr. Review</h3>
        </div>

        
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="thumbnail" style="height: 260px;">
            <img src="/images/EveryThreeMins.svg" alt="alt" class="img-circle" width="25%">
            <div class="caption">
              <h3 class="text-center">We're the busiest</h3>
              <p class="text-center">Every 3 minutes someone finds a flatmate on SpareRoom. With the biggest selection of ads, you'll find yours.</p>
              
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="thumbnail" style="height: 260px;">
            <img src="/images/Keys.svg" alt="alt" class="img-circle" width="25%">
            <div class="caption">
              <h3 class="text-center">Safety</h3>
              <p class="text-center">Your safety is our top priority. We have a team of moderators working 7 days a week to check ads and content.</p>
              
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="thumbnail" style="height: 260px;">
            <img src="/images/Welcome.svg" alt="alt" class="img-circle" width="25%">
            <div class="caption">
              <h3 class="text-center">We're all about people</h3>
              <p class="text-center">Everyone's idea of the perfect housemate is different, so search based on what's important to you.</p>
              
            </div>
          </div>
        </div>
        
        
       
     
       
      </div>


      <div id="bestproperty">
        <div  class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="text-center">Best Tenant</h3>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <img  src="/images/slider/s2.jpeg" class="img-responsive" alt="Image">
                
                  
              </div>
  
              <div class="item">
                <img  src="/images/slider/s3.png" class="img-responsive" alt="Image">
                
                  
              </div>
  
              <div class="item">
                <img  src="/images/slider/s4.png" class="img-responsive" alt="Image">
                
                  
              </div>
          
          
            </div>
          </div>
        </div>
        
      </div>
      


    </div>
    
   


   
    

    <div class="container-fluid" id="footer">
      <section style="height:80px;"></section>
    
      <!----------- Footer ------------>
      <footer class="footer-bs">
          <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
                <h2>Mr. Review</h2>
                  <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                  <p>© Mr. Review, All rights reserved</p>
              </div>
            <div class="col-md-4 footer-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="col-md-6">
                      <ul class="pages">
                          <li><a href="#">Travel</a></li>
                          <li><a href="#">Nature</a></li>
                          <li><a href="#">Explores</a></li>
                          <li><a href="#">Science</a></li>
                          <li><a href="#">Advice</a></li>
                      </ul>
                  </div>
                <div class="col-md-6">
                      <ul class="list">
                          <li><a href="#">About Us</a></li>
                          <li><a href="#">Contacts</a></li>
                          <li><a href="#">Terms & Condition</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
            <div class="col-md-2 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">RSS</a></li>
                  </ul>
              </div>
            <div class="col-md-3 footer-ns animated fadeInRight">
                <h4>Newsletter</h4>
                  <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                  <p>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
                        </span>
                      </div><!-- /input-group -->
                   </p>
              </div>
          </div>
      </footer>
      <section style="text-align:center; margin:10px auto;"><p>Designed by <a href="https://www.facebook.com/profile.php?id=100051742891723">Sukanta Sardar</a></p></section>
  
  </div>
   
    
    
    
    
    
    
    <!-- Slider Js-->
    <script src="/javascripts/slider.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

